<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="milionerzy.Properties.Settings.PolaczenieZBaza" connectionString="Data Source=abd.wwsi.edu.pl;Initial Catalog=JiPP2018Z502;User ID=JiPPrlewandowski;Password=p0zi0mk@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>